@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700|Source+Sans+Pro:700&display=swap");

@tailwind base;

.markdown-body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
  padding: 45px 0;
}

@media (max-width: 767px) {
  .markdown-body {
    padding: 15px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply mt-6 mb-3 leading-normal tracking-wide text-indigo-700 !important;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
}

body {
  @apply leading-7 tracking-wide;
  font-family: "Montserrat", sans-serif;
}

p {
  @apply my-4;
}

pre {
  @apply my-4 !important;
}

pre > code {
  background-color: inherit;
  color: inherit;
  @apply p-0 font-normal border-0;
}

code {
  @apply px-2 font-bold text-indigo-600 bg-gray-200 border;
}

a {
  font-family: "Source Sans Pro", sans-serif;
  @apply font-bold text-indigo-600 no-underline border-0 border-b-2 border-indigo-600 border-solid !important;
}

a:hover {
  @apply text-indigo-800;
}

table {
  @apply w-2/3 table-auto;
  border-spacing: 0;
}

thead {
  @apply bg-gray-100;
}

th,
td {
  @apply px-2 py-2 text-left border border-gray-200 border-solid;
}

@tailwind components;

@tailwind utilities;

code,
code[class*='language-'],
pre[class*='language-'] {
  color: #333;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  tab-size: 4;
  hyphens: none;
  font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  line-height: 1.4;
  direction: ltr;
  cursor: text;
}

pre[class*='language-'] {
  overflow: auto;
  margin: 1em 0;
  padding: 1.2em;
  border-radius: 3px;
  font-size: 85%;
}

p code,
li code,
table code {
  margin: 0;
  border-radius: 3px;
  padding: 0.2em 0;
  font-size: 85%;
}
p code:before, p code:after,
li code:before,
li code:after,
table code:before,
table code:after {
  letter-spacing: -0.2em;
  content: '\00a0';
}

code,
:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  background: #f7f7f7;
}

:not(pre) > code[class*='language-'] {
  padding: 0.1em;
  border-radius: 0.3em;
}

.token.comment, .token.prolog, .token.doctype, .token.cdata {
  color: #969896;
}
.token.punctuation, .token.string, .token.atrule, .token.attr-value {
  color: #183691;
}
.token.property, .token.tag {
  color: #63a35c;
}
.token.boolean, .token.number {
  color: #0086b3;
}
.token.selector, .token.attr-name, .token.attr-value .punctuation:first-child, .token.keyword, .token.regex, .token.important {
  color: #795da3;
}
.token.operator, .token.entity, .token.url, .language-css .token.string {
  color: #a71d5d;
}
.token.entity {
  cursor: help;
}

.namespace {
  opacity: 0.7;
}

