---
import BaseLayout from '../layouts/BaseLayout.astro'
import Header from '../components/Header.svelte'
import Hero from '../components/Hero.svelte'
import ProjectsOverview from '../components/ProjectsOverview.svelte'
import ContactForm from '../components/ContactForm.svelte'
---

<BaseLayout>
<div class="mx-auto">
   <Header />
   <Hero />
   <ProjectsOverview />
   <ContactForm />
</div>
</BaseLayout>