---
import BaseLayout from '../layouts/BaseLayout.astro'
import Header from '../components/Header.svelte'
import Hero from '../components/Hero.svelte'
import Footer from '../components/Footer.svelte'

const posts = Astro.fetchContent('./blog/*.md')
---

<BaseLayout>
<div class="mx-auto">
   <Header />
   <Hero />
   <Footer />
</div>
</BaseLayout>