---
import BaseLayout from '../layouts/BaseLayout.astro'
import Header from '../components/Header.svelte'
import Hero from '../components/Hero.svelte'
import ProjectsOverview from '../components/ProjectsOverview.svelte'
---

<BaseLayout>
<div class="container pb-4 mx-auto">
   <Header />
   <Hero />
   <ProjectsOverview />
</div>
</BaseLayout>