---
let title = 'Bun Colak';
---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{title}</title>

    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link
        rel="stylesheet"
        href={Astro.resolve("../styles/global.css")}
    >
</head>
<body>
    <div class="text-red-300">
        Hello There
    </div>
</body>
</html>
