---
import Header from '../components/Header.svelte'
---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Blog</title>

    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link
        rel="stylesheet"
        href={Astro.resolve("../styles/global.css")}
    >
</head>
<body>
<div class="relative min-h-screen transition-all dark:bg-gray-800 dark:text-white">
      <div class="container pb-20 mx-auto">
        <div class="mx-4 md:mx-auto md:w-2/3">
        <Header />
          <slot />
        </div>
      </div>
    </div>
</body>
</html>

