---
    import '../styles/blog.css'
    const { title, description, image } = Astro.props
    const derivedDescription = description || "Personal website for Bün Colak. Development tips and personal opinions."
---

<html lang="en" data-theme="light">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{title} Bün Colak</title>
    <meta name="title" content="Bünyamin Colak">
    <meta name="description" content={derivedDescription}>
    <meta name="keywords" content="javascript,typescript,python,developer,frontend,fullstack,react,svelte,graphql">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <meta name="author" content="Bün Colak">
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content={title || "Bün Colak" } />
    <meta name="twitter:description" content={derivedDescription} />
    <meta name="twitter:image" content={image || "/assets/profile.jpg"} />

    <link rel="icon" type="image/x-icon" href="/favicon.png" />
</head>

<body>
    <div class="relative min-h-screen transition-all">
        <slot />
    </div>
</body>

</html>